@charset "UTF-8";

/*========================================*/
/*----------#main部分余白と広さの設定と見出し設定----------*/
/*========================================*/

#wrapper {
    height: 100vh;
}

#visual {
    background: url(../images/home/mainVisual.jpg) center top;
    background-size: cover;
    max-width: 1920px;
    margin: auto;

}

#main {
    padding-top: 50px;
    letter-spacing: 2px;
}

#mainContainer {
    width: 95%;
}

#mainContainer h2 {
    font-size: 3.4rem;
    margin-bottom: 20px
}

/*========================================*/
/*----------#contact ここから----------*/
/*========================================*/
#contact {}

#contact a {
    color: #333;
    text-decoration: underline;
}

#contact a:hover {
    color: #60aaff;
}

#contact p {
    margin: 50px auto;

}

#shares {
    margin: 0 auto;
    padding: 65px 0;
    color: #fff;
}

footer {
    margin: 0 auto;
}

/*========================================*/
/*----------メディアクエリ設定----------*/
/*========================================*/

@media screen and (max-width:768px) {

    p {
        line-height: 3;
        margin: 25px auto;
        color: #fff;
    }

    span {
        display: block;
    }
}
